<?xml version="1.0"?>
<launch>
  <arg name="address" default="127.0.0.1"/>
  <arg name="env_name" default="env.bash"/>
  <arg name="user_name" default="ubuntu"/>
  <arg name="password" default="turtlebot"/>
  
  <arg name="use_robot_name" default="tb3_hsc"/>
  <arg name="set_lidar_frame_id" default="base_scan"/>  
  <arg name="use_filter" default="true"/>

 
  <!-- setting for machine -->
  <machine name="tb3" address="$(arg address)" env-loader="~/$(arg env_name)" user="$(arg user_name)" password="$(arg password)" />

  <!-- rpi camera -->
  <node machine="tb3" pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">

    <param name="camera_info_url" value="package://turtlebot3_home_service_challenge_tools/config/camera_info/camerav2_1280x720.yaml"/>
    <param name="image_width" value="320"/>
    <param name="image_height" value="240"/>
    <param name="rate" value="30"/>
    <param name="frame_id" value="camera_rgb_optical_frame"/>    

    <remap from="/cv_camera/set_camera_info" to="/camera/set_camera_info" />
    <remap from="/cv_camera/camera_info" to="/camera/camera_info" />
    <remap from="/cv_camera/image_raw" to="/camera/image" />
  </node>

</launch>
