<launch>
  <!-- Arguments -->
  <arg name="use_robot_name" default="tb3_hsc"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_home_service_challenge_tools)/maps/tb3_hsc.yaml"/>
  <arg name="open_rviz" default="false"/>
  <arg name="rviz_file" default="tb3_hsc.rviz"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="use_map_server" default="true" />

  <group ns = "$(arg use_robot_name)">
    <!-- Map server -->
    <group if="$(arg use_map_server)"> 
      <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
    </group>
    
    <!-- AMCL -->
    <include file="$(find turtlebot3_home_service_challenge_tools)/launch/navigation/amcl.launch">
      <arg name="use_robot_name"  value="$(arg use_robot_name)"/>
      <arg name="scan_topic" value="scan"/>
    </include>
    
    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_home_service_challenge_tools)/param/dwa_local_planner_params.yaml" command="load" />
    </node>
  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_home_service_challenge_tools)/rviz/$(arg rviz_file)">
      <remap from="initialpose"  to="$(arg use_robot_name)/initialpose"/>
      <remap from="move_base_simple/goal"  to="$(arg use_robot_name)/move_base_simple/goal"/>
    </node>
  </group>
</launch>
